#towerBackground{
    -fx-background-image: url("tower_background_2.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#root {
	-fx-background-color:
		linear-gradient(#b4f5e9, white);
}

#title {
	-fx-font-size: 60;
}

.button {
	-fx-background-radius: 24;
	-fx-font-family: "HelveticaNeue";
	-fx-alignment: CENTER;
    -fx-background-color: #1fb58f;
    -fx-font-weight: lighter;
    -fx-text-fill: white;
    -fx-font-size: 1.875em;
    -fx-scale-x: 1;
    -fx-stroke: #42dfb8;
    -fx-stroke-width: 2;
}

.button:hover {
	-fx-font-family: "HelveticaNeue";
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-background-color: #42dfb8;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 1.875em;
    -fx-scale-x: 1.1;
    -fx-scale-x: 1.1;
    -fx-stroke: #42dfb8;
    -fx-stroke-width: 2;
}

.grid {
	-fx-grid-lines-visible: false;
	-fx-background: #1fb58f
}

.text {
	-fx-font-family: "HelveticaNeue";
	-fx-font-weight: NORMAL;
	
}

.text-field {
	-fx-font-family: "HelveticaNeue";
	-fx-text-fill: blue;
}

.password-field {
	-fx-font-family: "HelveticaNeue";
	-fx-text-fill: blue;
}

.anchor-pane {
		-fx-background-color: linear-gradient(#b4f5e9, white);
}

.grid-pane {
		-fx-background-color: transparent;
}

.border-pane {
		-fx-background-color: transparent;
}