.button { 
	-fx-font-family: "HelveticaNeue";
	-fx-alignment: CENTER;
    -fx-background-color: #1fb58f;
    -fx-font-weight: lighter;
    -fx-text-fill: white;
    -fx-font-size: 1.875em;
    -fx-scale-x: 1;
    -fx-stroke: #42dfb8;
    -fx-stroke-width: 2;
}

.button:hover {
	-fx-font-family: "HelveticaNeue";
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-background-color: #42dfb8;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 1.875em;
    -fx-scale-x: 1.1;
    -fx-stroke: #42dfb8;
    -fx-stroke-width: 2;
}